<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <!--<link rel="stylesheet" href="/assets/css/style.css">-->
</head>
<body>
    <a href="/">Doma</a> |
    <a href="/blog">Blog</a> |
    <a href="/projekti">Projekti</a> |
    <a href="/kontakt">Kontakt</a> |
    <a href="/kalkulator">Kalkulator</a> |
    <a href="/seznam-oseb">Seznam oseb</a> |
    <a href="/vnos-osebe">Vnos osebe</a> |

    {% block vsebina %}{% endblock vsebina %}
</body>
</html>